/* Corrected background image usage */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Fira Sans", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: url("./assets/backgroundImage.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center center;
}

/* Add your custom font-family if needed */
body {
  font-family: "Montserrat", sans-serif;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
h4 {
  font-size: 1rem;
  /* color: rgb(56, 56, 56); */
  color: white;
}
h3 {
  font-size: 1.5rem;
  color: white;
  list-style: 2.5rem;
  margin: 2rem 0rem 2.5rem;
  text-align: center;
}

a {
  color: white;
}
